.terminal-line {
  font-family: "Courier New", monospace;
  font-size: 1rem;
}
.terminal-text {
      color: #602e9d;
}
.cursor {
  display: inline-block;
  width: 10px;
  background-color: #602e9d;
  animation: blink 1s infinite;
  vertical-align: baseline; 
}

.home-tab {
  animation: fadeIn 1s ease-in;
}
@keyframes blink {
  0%, 50% { opacity: 1; }
  50%, 100% { opacity: 0; }
}

.typed-text {
  display: inline; 
}

.ascii-image {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}